.navbar{
    display: flex;
    background-color: teal;
}

@media (max-width: 499px) {
    .navbar{
        flex-direction: column;
        align-items: flex-end;
        padding: 1rem;
    }

  }

@media (min-width: 500px) {
    .navbar{
        flex-direction: row;
        justify-content: right;
        padding: 2rem;
    }
    .navbar-item{
        margin-left: 1rem;
    }
}
.navbar-item{
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.navbar-item a:hover{
    color: #00b4d8;
}

.navbar-item a {
    text-decoration: none;
    color: black;
}